.ListaArtistas {
  background-color: #1f1f1f;
  border-radius: 5%;
  width: 60vw;
  height: 30vh;
  flex: 0 0 calc(14% - 1.5vh);
  margin: 4vh;
}

.ListaArtistas img {
  margin-top: 2vh;
  margin-left: 1.2vw;
  height: 17.6vh;
  width: 17.6vh;
  border-radius: 100%;
  display: block;
}

.ListaArtistas h1,
.ListaArtistas p {
  margin-top: 0.8vw;
  margin-left: 0.8vw;
  font-size: 1.65vh;
  background-color: #1f1f1f;
}

.ListaArtistas p {
  margin-top: 1.5vh;
  color: #8c8c8c;
}

.ArtistasTexto {
  margin-top: 4vh;
  background-color: #1f1f1f;
}
.caixaArtistas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
