/* Variáveis de cores */
:root {
  --azul: #17a6e4;
  --verde: #3fe168;
  --cinza: #cccccc;
  --cinza2: #d9d9d9;
}

/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.66vh;
  color: white;
}

/* Estilos gerais de texto */
h1 {
  font-size: 2.8em;
}

/* Layout principal */
.Display {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}

.SideBar {
  height: 100vh;
  width: 15vw;
  background-color: black;
}

.Main {
  height: 100vh;
  width: 85vw;
  background: linear-gradient(180deg, var(--azul) 0%, black 85%);
  padding: 2vw 3vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* Informações da Playlist */
.Infos {
  margin-top: 19.9vh;
  height: 21.8vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
}

.Infos img {
  height: 21.8vh;
  width: 21.8vh;
}

.InfosTexto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 14.9vh;
  margin-left: 2.9vw;
  justify-content: space-around;
  font-weight: bold;
}

.InfosQuantidades {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.InfosQuantidades p {
  color: var(--cinza);
}

/* Botões de controlar a playlist */
.Botões {
  height: 6.34vh;
  width: 13.5vw;
  margin-top: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

#play {
  height: 6.34vh;
}

#coração {
  height: 5.07vh;
}

#download {
  height: 3.51vh;
}

#pontos {
  height: 0.78vh;
}

/* Músicas */
.Playlist {
  margin-top: 5vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.Cabeçalho {
  color: var(--cinza2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

